    <div class="footer">
        <div class="row">
            <div class="col-md-2 content">
                <p class="lead">Promoted by</p>
                <img src="img/logo-sbc.png">
            </div>
            <div class="col-md-2 content">
                <p class="lead">Organized by</p>
                <img src="img/logo-unicamp.png">
            </div>
            <div class="col-md-8 content">
                <p class="lead">Sponsored by</p>
                <img src="img/logo-google.png">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-2 content">
                <p class="lead">Follow us</p>
                <a href="https://www.facebook.com/maratona" class="fa fa-facebook"></a>
                <a href="https://www.youtube.com/c/UnicampIC" class="fa fa-youtube"></a>
            </div>
        </div>
        <p>Website powered by <a href="http://urubu.jandecaluwe.com">Urubu</a></p>
    </div>


