    <div class="footer">
        <div class="row">
            <div class="col-md-2 content">
                <p class="lead">Promoted by</p>
                <img src="img/logo-sbc.png">
            </div>
            <div class="col-md-2 content">
                <p class="lead">Organized by</p>
                <img src="img/logo-unicamp.png">
            </div>
            <div class="col-md-8 content">
                <p class="lead">Gold Sponsors</p>
                <img hspace="20" src="img/logo-google_small.png">

                <img hspace="20" src="img/logo-tfg_small.png">

                <p class="lead">Silver Sponsors</p>

                <img hspace="20" src="img/logo-ABInBev_small.png">
                <img hspace="20" src="img/logo-VTEX_small.png">
                <img hspace="20" src="img/logo-uber_small.png">
                <img hspace="20" src="img/logo-VenturusMotorola_small.png">

                <p class="lead">Bronze Sponsor</p>
                <img hspace="20" src="img/logo-microsoft_small.png">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-2 content">
                <p class="lead">Follow us</p>
                <a href="https://www.facebook.com/maratona" class="fa fa-facebook"></a>
                <a href="https://www.youtube.com/c/UnicampIC" class="fa fa-youtube"></a>
            </div>
        </div>
        <p>Website powered by <a href="http://urubu.jandecaluwe.com">Urubu</a></p>
    </div>


